<div style="width:600px;margin:50px auto;padding:20px;border:solid 1px #slategray;">
  <strong>Olá, {{deliveryman}}</strong>
  <p>A seguinte encomenda foi cancelada:</p>
  <p><strong>Encomenda: </strong> #0000{{delivery}}</p>
  <hr />
</div>
